<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="wrapper">
      <table>
        <tr>
          <td width="130">
            <img src="/assets/jh-bio.JPG" width="120">
          </td>
          <td>
            <h2>Jinho Kim</h2>
            <h4>M.S. Student<br>
            <h4>Computational Intelligence & Photography Lab<br>
            Yonsei University, Seoul, Korea</h4>
            [first name][last name] [at] yonsei.ac.kr<br>
            <a href="/assets/CV.pdf">CV</a> |
            <!-- <a href="https://scholar.google.com/citations?user=0QcFKj8AAAAJ&hl=ko">Google Scholar</a> | -->
            <a href="https://github.com/vlsrang">GitHub</a> |
            <a href="https://www.linkedin.com/in/jinho-kim-07a940298">LinkedIn</a>
          </td>
        </tr>
      </table>

      {{ content }}

      <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id={{site.analytics-id}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
    
      gtag('config', '{{site.analytics-id}}');
    </script>
    </body>
</html>
